.navigation{
    .navigation-menu{
        list-style: none;
        display: flex;
        .navigation-menu-item{
            // border: 1px solid black;
            padding: 5px;
            margin: 0 5px;
            .nav-item-link{
                //text-decoration: none;
            }
        }
    }

}