.navigation{
    .navigation-menu{
        list-style: none;
        display: flex;
        .navigation-menu-item{
            padding: 5px;
            margin: 0 5px;
            .nav-item-link{
            }
        }
    }

}