.navigation{
    margin-top: 20px;
    text-align: center;
    .navigation-menu{
        list-style: none;
        position: relative;
        padding: 0;
        .navigation-menu-item{
            padding: 5px 5px 5px 5px;
            display: inline;
            .nav-item-link{
            }
        }
    }

}