<nav>
  <div class="container">
    <div class="row">
      <div class="col-12 navigation">
        <ul class="navigation-menu">
          <li class="navigation-menu-item">
            <a mat-raised-button color="primary" class="nav-item-link" routerLink="home">Twój dom</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button color="primary" class="nav-item-link" routerLink="home">Twój dom</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button color="primary" class="nav-item-link" routerLink="home">Twój dom</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button color="primary" class="nav-item-link" routerLink="home">Twój dom</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button color="primary" class="nav-item-link" routerLink="home">Twój dom</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>