<nav>
  <div class="container">
    <div class="row">
      <div class="col-12 navigation">
        <ul class="navigation-menu">
          <li class="navigation-menu-item">
            <a mat-raised-button class="nav-item-link" routerLink="twojdom">Twój dom</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button class="nav-item-link" routerLink="ustawienia">Ustawienia</a>
          </li>
          <li class="navigation-menu-item">
            <a mat-raised-button class="nav-item-link" (click)="refreshHomeList()">Odśwież</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>