.setting{
    .mat-card{
        margin: 20px;
        .setting-card{
            padding: 20px;
            .mat-form-field{
                margin-right: 20px;
                width: 250px;
            }
            
        }
    }
}