$width-column: 150px;
.room-box{
    border: 1px solid black;
    display: inline-flex;
    margin: 5px;
    flex-direction: column;
    width: $width-column;
}

.material-icons{
    font-size: 40px;
}