<div class="room-box">
  <div class="room-box-head">
    Oświetlenie
  </div>
  <div class="room-box-content">
    <mat-slide-toggle [ngModel]="LedStatus | async" class="example-margin" (change)="changed()">Slide me! {{LedStatus | async}}</mat-slide-toggle>

  </div>
</div>
<!-- <div class="room-box">
  <div class="room-box-head">
    Czajnik
  </div>
  <div class="room-box-content">

  </div>
</div>
<div class="room-box">
  <div class="room-box-head">
    Czajnik
  </div>
  <div class="room-box-content">

  </div>
</div>
<div class="room-box">
  <div class="room-box-head">
    Czajnik
  </div>
  <div class="room-box-content">

  </div>
</div> -->