/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~ngx-toastr/toastr.css';

body{
    background:  linear-gradient(white, gray);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}